body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
}

h2 {
  color: brown;
}

h1 {
  margin-left: 2rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}
.container {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.container__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.container .container__content h2 {
  margin-top: 2rem;
}

#div1 ul {
  background-color: rgb(250, 215, 215);
}

#div1 p {
  font-weight: 600;
  background-color: antiquewhite;
}

.container .container__content img {
  border-radius: 20rem;
  width: 8rem;
  height: 8rem;
}

footer {
  position: absolute;
  display: flex;
  background-color: antiquewhite;
  bottom: 20rem;
  width: 100%;
}

.ico-size {
  width: 3rem;
  height: 3rem;
  padding: 0 1rem;
}

.facebook {
  content: url(./assets/images/icon-facebook.svg);
}

.instagram {
  content: url(./assets/images/icon-instagram.svg);
}

.pinterest {
  content: url(./assets/images/icon-pinterest.svg);
}

.tictoc {
  content: url(./assets/images/icon-tictoc.svg);
}

.twitter {
  content: url(./assets/images/icon-twitter.svg);
}
